@charset "UTF-8";

/*------------------------------------------------
共通部分
-------------------------------------------------*/
html {
    font-size: 100%;
}

body {
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    color: #ffffff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/*------------------------------------------------
ヘッダー
-------------------------------------------------*/
.logo {
    width: 80px;
    margin-top: 14px;
}

.main-nav {
    display: flex;
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}

.main-nav li {
    margin-left: 36px;
}

.main-nav a {
    color: #000;
}

.page-header {
    display: flex;
    justify-content: space-between;
    margin: 0 200px 0 200px;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}
/*------------------------------------------------
メインビジュアル
-------------------------------------------------*/
.big-bg {
    background-size: cover;
    background-position: center top;
    padding-left: 400px;
    padding-top: 90px;
}

.main-visual img {
    width: 550px;
}

/*------------------------------------------------
背景画像
-------------------------------------------------*/

#home {
    background-image: url(../img/background.png);
    min-height: 90vh;
}