@charset "UTF-8";

/*------------------------------------------------
共通部分
-------------------------------------------------*/
html {
    font-size: 100%;
}

body {
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    color: #ffffff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/*------------------------------------------------
ヘッダー
-------------------------------------------------*/
.logo {
    width: 50px;
    margin-top: 14px;
}

.main-nav {
    display: flex;
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 23px;
    list-style: none;
}

.main-nav li {
    margin-left: 36px;
}

.main-nav a {
    color: #000;
}

.page-header {
    display: flex;
    justify-content: space-between;
    margin: 0 200px 0 200px;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}
/*------------------------------------------------
メインビジュアル
-------------------------------------------------*/
.big-bg {
    background-size: cover;
    background-position: center top;
    padding-top: 50px;
    padding-left: 0px;
}

.main-visual img {
    width: 100%;
}

.about-main-visual img{
    width: 40%;
    border:2px solid;
    margin-top: 10px;
    padding:0px;
    border-radius: 15px;
    border-color: #D3F6ED;
  }

/*------------------------------------------------
背景画像
-------------------------------------------------*/

#home {
    background-image: url(../img/background.png);
    min-height: 90vh;
}

#about-home {
    background-image: url(../img/background2.png);
    min-height: 90vh;
}

/*------------------------------------------------
グラフィック
-------------------------------------------------*/
.container1 {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
    margin-left: -450px;
}

.graphic1 {
    position: absolute;
    width: 200px; 
    height: auto;
    will-change: transform; 
}

.container2 {
    position: relative;
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -450px;
    margin-left: 1000px;
}

.graphic2 {
    position: absolute;
    width: 200px; 
    height: auto;
    will-change: transform; 
}


.container3 {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 470px;
    perspective: 1000px;
}

.graphic3 {
    position: absolute;
    width: 200px;
    height: auto;
}

.container4 {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
    margin-left: -575px;
}

.graphic4 {
    position: absolute;
    width: 25%; 
    height: auto;
    will-change: transform; 
    transform:rotate(-15deg);
}

.container5 {
    position: relative;
    width: 180px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -530px;
    margin-left: 1250px;
}

.graphic5 {
    position: absolute;
    width: 50%; 
    height: auto;
    will-change: transform; 
}

/*------------------------------------------------
aboutテキスト
-------------------------------------------------*/
